@import "./../../base";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
  background-color: $black-primary;
  height: 10vh;
  width: 100%;

  &-menu {
    display: none;
  }
  &-logo {
    width: 40px;
    height: 40px;
    object-fit: contain;
  }
  form {
    display: flex;
    flex: 0.6;
    padding: 0.1rem;
    margin: 0.1rem;
    border-radius: 4px;
    border: 1.2px solid;
    background-color: $black-secondary;

    input {
      width: 100%;
      border: none;
      background: transparent;
      font-weight: 500;
      padding: 0.3rem;
      color: $text-color;

      &:focus {
        outline: none;
      }
    }
    button {
      color: $text-color;
      background: transparent;
      border: none;
      margin-right: 5px;
    }
  }
  &-icons {
    display: flex;
    flex: 0.15;
    justify-content: space-around;
    align-items: center;

    img {
      border-radius: 50%;
      width: 40px;
      object-fit: contain;
    }
  }
}

@media (max-width: 520px) {
  .header {
    padding: 1rem;

    form {
      flex: 1;
    }
    &-menu {
      display: block;
      margin-right: 10px;
    }
    &-logo {
      display: none;
    }
    &-icons > *:not(img) {
      display: none;
    }
  }
}
